1. Write a lambda function to rearrange positive and negative numbers in a
given list

In [53]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

resulting_list =list(filter(lambda x: x >= 0, original_list)) + list(sorted(filter(lambda x: x < 0, original_list)))

print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

2. Create a new dataframe using week_11/temperatures/temperature.csv file
from last class. It should have the datetime column and one of the cities.
Create a new boolean column called is_freezing that indicates if the
temperature is at or below freezing. Use a lambda to create this column. Is
there a better way to do this than with a lambda?

In [71]:
import pandas as pd
df = pd.read_csv("temperature.csv",parse_dates=True, index_col='datetime')
new_df=df[['Vancouver']]
new_df.head()

                      Vancouver
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  284.630000
2012-10-01 14:00:00  284.629041
2012-10-01 15:00:00  284.626998
2012-10-01 16:00:00  284.624955

In [72]:
new_df= new_df.assign(is_freezing= lambda x: x <=273.15)
new_df.dropna(inplace= True)
new_df

                      Vancouver  is_freezing
datetime
2012-10-01 13:00:00  284.630000        False
2012-10-01 14:00:00  284.629041        False
2012-10-01 15:00:00  284.626998        False
2012-10-01 16:00:00  284.624955        False
2012-10-01 17:00:00  284.622911        False
...                         ...          ...
2017-10-27 20:00:00  286.440000        False
2017-10-27 21:00:00  287.870000        False
2017-10-27 22:00:00  288.420000        False
2017-10-27 23:00:00  288.650000        False
2017-10-28 00:00:00  288.010000        False

[44458 rows x 2 columns]